[Desktop Entry]
Icon=text-html
Name=http://www.openclipart.org/people/pitr/1269851278.svg
Type=Link
URL[$e]=http://www.openclipart.org/people/pitr/1269851278.svg
