[Desktop Entry]
Icon=text-html
Name=http://www.af.mil/shared/media/photodb/photos/040723-F-0000C-004.jpg
Type=Link
URL[$e]=http://www.af.mil/shared/media/photodb/photos/040723-F-0000C-004.jpg
